.cw-talk-bubble {
    margin: 10px 20px;
    position: relative;
    width: 85%;
    height: auto;
    background-color: var(--dark-gray-color-10);
    float: left;

    .cw-talk-bubble-talktext {
        padding: 1em;
        text-align: left;
        line-height: 1.5em;

        .cw-talk-bubble-talktext-time {
            color: var(--dark-gray-color-80);
            text-align: right;
            font-size: 0.8em;
            margin-bottom: -0.5em;
        }
    }

    &.cw-talk-bubble-own-post {
        float: right;
    }

    &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        top: 0px;
        bottom: auto;
        border: 22px solid;
        border-color: var(--dark-gray-color-10) transparent transparent transparent;
        left: -20px;
        right: auto;
    }

    &.cw-talk-bubble-own-post:after {
        left: auto;
        right: -20px;
    }

    .cw-talk-bubble-user {
        padding: 1em 1em 0 1em;

        .cw-talk-bubble-avatar {
            display: inline-block;
        }

        span {
            padding-left: 4px;
            color: var(--dark-gray-color-45);
            font-weight: 600;
            vertical-align: top;
        }
    }
}