$color: var(--base-color-20);
$ownColor: var(--petrol-40);

.cw-talk-bubble-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;

    .cw-talk-bubble-avatar {
        padding: 8px;
    }

    .cw-talk-bubble {
        margin: 10px 20px;
        position: relative;
        max-width: 80%;
        height: auto;
        background-color: $color;
        border-radius: 10px;

        .cw-talk-bubble-content {
            padding: 8px 1em;

            .cw-talk-bubble-header {
                margin-bottom: 8px;

                a {
                    font-weight: 700;
                }
            }

            .cw-talk-bubble-talktext {
                margin-bottom: 4px;
                text-align: left;
                line-height: 1.5em;

                .cw-talk-bubble-footer {
                    float: right;
                    margin-top: 4px;
                    padding-bottom: 4px;

                    &:before {
                        content: " ";
                        width: 1em;
                        display: inline-block;
                    }

                    .cw-talk-bubble-talktext-time {
                        text-align: right;
                        font-size: 0.8em;
                        margin-bottom: -0.5em;
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                }

            }
        }

        &:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            top: 0px;
            bottom: auto;
            border: 16px solid;
            border-color: $color transparent transparent transparent;
            border-radius: 4px;
            left: -14px;
            right: auto;
        }
    }

    &.cw-talk-bubble-own-post {
        justify-content: end;

        .cw-talk-bubble {
            flex-direction: row-reverse;
            background-color: $ownColor;

            &:after {
                border-color: $ownColor transparent transparent transparent;
                left: auto;
                right: -14px;
            }
        }


        .cw-talk-bubble-header {
            flex-direction: row-reverse;
        }
    }
}