.cw-tiles {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 5px;
    overflow: hidden;
}
.cw-tiles .tile,
.cw-tile {
    height: 420px;
    width: 270px;
    margin: 0;
    background-color: var(--base-color);
    &:last-child {
        margin-right: 0;
    }

    @each $name, $color in $tile-colors {
        &.#{'' + $name} {
            background-color: $color;
        }
    }

    .preview-image {
        height: 180px;
        width: 100%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-color: var(--content-color-20);
        background-position: center;

        .overlay-handle {
            @extend .drag-handle;
            background-color: $white;
            background-position: center !important;
            height: 22px;
            padding: 4px 8px;
            margin-top: 3px;
            float: left;
            border-left: solid thin var(--content-color-20);
        }


        .overlay-text {
            padding: 6px 7px;
            margin: 4px;
            background-color: rgba(255, 255, 255, 0.8);
            width: fit-content;
            max-width: 100%;
            height: 1.25em;
            overflow: hidden;
            text-overflow: ellipsis;
            float: right;
            text-align: right;
        }

        .overlay-action-menu {
            padding: 0;
            margin: 0.25em;
            background-color: rgba(255, 255, 255, 0.8);
            width: fit-content;
            max-width: 100%;
            overflow: hidden;
            float: right;
            text-align: right;
            .action-menu {
                margin: 5px;
            }
        }
    }

    .description {
        height: 220px;
        padding: 14px;
        color: var(--white);
        position: relative;
        display: block;

        header {
            font-size: 20px;
            line-height: 22px;
            color: var(--white);
            border: none;
            width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-repeat: no-repeat;
            background-position: 0 0;

            @each $type, $icon in $element-icons {
                &.description-icon-#{$type} {
                    width: 212px;
                    padding-left: 28px;
                    @include background-icon(#{$icon}, info_alt, 22);
                }
            }
        }

        .progress-wrapper {
            width: 100%;
            padding: 8px 0;
            border: none;
            background: none;

            progress {
                appearance: none;
                display: block;
                width: 100%;
                height: 3px;
                margin: 0;
                border: none;
                background: rgba(0, 0, 0, 0.3);
                &::-webkit-progress-bar {
                    background: rgba(0, 0, 0, 0.3);
                }
                &::-webkit-progress-value {
                    background: white;
                }
                &::-moz-progress-bar {
                    background: white;
                }
            }
        }

        .description-text-wrapper {
            overflow: hidden;
            height: 10em;
            margin-top: 4px;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            p {
                text-align: left;
            }
        }

        footer {
            width: 242px;
            margin-top: 8px;
            color: var(--white);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                vertical-align: text-bottom;
            }
        }
    }

    a[href].description {
        transition: unset;
    }

    a.description,
    a.description:link,
    a.description:visited,
    a.description:hover {
        height: 210px;
        color: var(--white);
        text-decoration: unset;
    }
}
