.cw-tree {
    ol {
        list-style: none;
        padding-left: 1.25em;

        &.cw-tree-root-list {
            padding-left: 0;

            > li.cw-tree-item {
                > .cw-tree-item-wrapper {
                    display: none;
                }

                ol {
                    padding-left: 0;

                    > li.cw-tree-item {
                        margin: 28px 0 0 0;

                        > .cw-tree-item-wrapper {
                            display: block;
                            border-bottom: solid thin var(--content-color-40);
                            margin-bottom: 12px;

                            > .cw-sortable-handle {
                                margin-bottom: 2px;
                            }

                            > a.cw-tree-item-link {
                                display: inline-block;
                                width: calc(100% - 4px);
                                padding-left: 4px;
                                font-size: 16px;

                                &.cw-tree-item-link-edit {
                                    width: calc(100% - 20px);
                                }
                            }
                        }

                        ol {
                            padding-left: 0.25em;

                            &.cw-tree-adder-list,
                            &.cw-tree-draggable-list {
                                padding-left: 2px;
                            }
                            &.cw-tree-adder-list {
                                margin-left: 16px;
                                height: 30px;
                            }

                            > li.cw-tree-item {
                                margin: 4px 0;

                                > .cw-tree-item-wrapper {
                                    border: none;
                                    line-height: 28px;

                                    > a.cw-tree-item-link,
                                    form {
                                        border-bottom: none;
                                        font-size: 14px;
                                        width: calc(100% - 20px);
                                        background-repeat: no-repeat;
                                        background-position-y: center;
                                        padding-left: 18px;
                                        margin-left: 4px;
                                        margin-bottom: 0;
                                        line-height: 28px;

                                        &.cw-tree-item-link-edit {
                                            width: calc(100% - 38px);
                                        }

                                        @include background-icon(bullet-dot, clickable, 18);
                                    }
                                    form {
                                        display: inline;
                                        background-position-y: center;
                                    }
                                    > a.cw-tree-item-link {
                                        display: inline-block;

                                        &:hover {
                                            @include background-icon(bullet-dot, attention, 18);
                                        }
                                        &.cw-tree-item-link-current {
                                            @include background-icon(bullet-dot, info, 18);
                                        }
                                    }
                                }

                                ol {
                                    padding-left: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .cw-tree-item-wrapper {
        .cw-sortable-handle {
            vertical-align: middle;
            opacity: 0;
            &:focus {
                opacity: 1;
            }
        }
        &:hover {
            .cw-sortable-handle {
                opacity: 1;
            }
        }
    }

    .cw-tree-item-link {
        .cw-tree-item-edit-button {
            opacity: 0;
            padding: 0 4px;
            vertical-align: bottom;
            border: none;
            background-color: transparent;
            cursor: pointer;
            img {
                vertical-align: middle;
            }
            &:focus {
                opacity: 1;
            }
        }

        &:hover {
            background-color: var(--light-gray-color-20);
            color: var(--active-color);

            .cw-tree-item-edit-button {
                opacity: 1;
            }
        }

        &.cw-tree-item-link-current {
            color: var(--black);
            font-weight: 600;
            cursor: default;

            &::before {
                color: var(--black);
            }
        }

        &.cw-tree-item-link-selected {
            font-style: italic;
            font-weight: 600;
        }

        @each $type, $icon in $tree-item-flag-icons {
            .cw-tree-item-flag-#{$type} {
                width: 16px;
                height: 16px;
                vertical-align: top;
                float: right;
                @include background-icon(#{$icon}, clickable, 16);
            }

            &:hover .cw-tree-item-flag-#{$type} {
                @include background-icon(#{$icon}, attention, 16);
            }

            &.cw-tree-item-link-current .cw-tree-item-flag-#{$type} {
                @include background-icon(#{$icon}, info, 16);
            }
        }
    }

    .cw-tree-item-sequential {
        display: inline-block;
        position: absolute;
        right: 8px;

        &.cw-tree-item-sequential-complete {
            width: 16px;
            height: 16px;
            vertical-align: top;
            @include background-icon(accept, info, 16);
        }

        &.cw-tree-item-sequential-percentage {
            color: var(--black);
            font-size: 14px;
        }
    }

    .cw-tree-item-ghost {
        opacity: 0.6;
        border: dashed 2px var(--content-color-40);
        height: 28px;
        margin-left: 24px !important;

        .cw-tree-item-wrapper {
            visibility: hidden;
        }
    }

    form.cw-tree-item-adder-form,
    form.cw-tree-item-updater {
        display: inline;

        input {
            height: 22px;
        }

        button {
            min-width: unset;
            height: 28px;
            width: 28px;
            padding: 0;
            margin: -1px 0 0 0;

            &::before {
                margin: 4px;
            }
        }
    }
}
