*~

.webpack.*
composer
node_modules
nbproject

config/config_local.inc.php
config/config.inc.php

data/*
data/archiv/[0-9a-f]*
data/assets_cache/[0-9a-f]*
data/media_cache/[0-9a-f]*
data/oer/*
data/oer_logos/*
data/upload_doc/*

public/.htaccess
public/assets/javascripts/*.js
public/assets/javascripts/*.js.map
public/assets/stylesheets/*.css
public/assets/stylesheets/*.css.map
public/pictures/banner/*.gif
public/pictures/banner/*.jpeg
public/pictures/banner/*.jpg
public/pictures/banner/*.png
public/pictures/course/[0-9a-f]*.png
public/pictures/institute/[0-9a-f]*.png
public/pictures/smile/*.gif
public/pictures/smile/*.jpeg
public/pictures/smile/*.jpg
public/pictures/smile/*.png
public/pictures/user/[0-9a-f]*.png
public/plugins_packages/*
!public/plugins_packages/core

tests/_log
tests/_helpers/CodeGuy.php
tests/_helpers/TestGuy.php
tests/_helpers/WebGuy.php
tests/_helpers/_generated
