@import '../drag-handle.scss';

.cw-sortable-handle {
    @extend .drag-handle;
    display: inline-block;
    height: 24px;
    &.cw-sortable-handle-dragging {
        cursor: grabbing;
    }
    &.cw-sortable-handle-blocks {
        position: relative;
        top: -42px;
        left: -2px;
        margin-right: -15px;
        margin-bottom: -10px;
    }
    &.cw-sortable-handle-containers {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
    }

    &.cw-sortable-handle-blockadder {
        display: block;
        position: absolute;
        padding: 8px 64px 24px 4px;
        margin: 8px 4px;
        background-position: top left;
    }

    &.cw-sortable-handle-containeradder {
        display: block;
        position: absolute;
        padding: 8px 64px 48px 4px;
        margin: 8px 4px;
        background-position: top left;
    }

    &.cw-sortable-handle-clipboard {
        display: block;
        position: absolute;
        padding: 8px 64px 24px 4px;
        margin: 8px 4px;
        background-position: top left;
    }
}

.cw-container-dragitem {
    display: none;
}

.cw-block-item-sortable {
    .cw-sortable-handle {
        position: relative;
        left: 4px;
    }
    .cw-block {
        margin-top: -38px;
    }
}

.cw-container-item-sortable {
    .cw-sortable-handle {
        position: relative;
        left: 4px;
    }
    .cw-container {
        margin-top: -38px;
    }
}

.cw-container-wrapper-edit {
    width: calc(100% - 64px);

    .cw-structural-element-list {
        width: 100%;
        padding: 0;
        margin-top: 8px;
        list-style: none;
    }
}

.cw-block-item-selected {
    .cw-block-header {
        font-style: italic;
    }
}

.cw-container-item-selected {
    .cw-container-header {
        font-style: italic;
    }
}

.cw-sortable-handle-blocks {
    position: relative;
}

.cw-container-dragitem {
    display: none;
}

.container-ghost {
    background: var(--white);
    border: dashed 2px var(--content-color-40);
    margin-top: -5px;
    margin-bottom: 15px;
    
    a {
        opacity: 0;
    }

    button {
        opacity: 0;
    }

    &.cw-clipboard-item-wrapper {
        .cw-clipboard-item-action-menu-wrapper {
            opacity: 0;
        }
    }

    .cw-sortable-handle,
    .cw-container {
        opacity: 0;
    }
}

.block-ghost {
    background: var(--white);
    border: dashed 2px var(--content-color-40);
    padding-top: 5px;
    padding-left: 5px;
    height: 100px;
    margin-bottom: 15px;
    margin-top: -5px;

    a {
        opacity: 0;
    }

    button {
        opacity: 0;
    }

    &.cw-clipboard-item-wrapper {
        .cw-clipboard-item-action-menu-wrapper {
            opacity: 0;
        }
    }

    .cw-sortable-handle,
    .cw-block {
        opacity: 0;
    }
}