$element-icons: (
    content: content2,
    draft: category-draft,
    task: category-task,
    template: category-template,
    oer: oer-campus,
    other: category-others,
    portfolio: category-portfolio
);

$tree-item-flag-icons: (
    date: date,
    write: community,
    cant-read: lock-locked2,
);

$tile-colors: (
    black: #000,
    charcoal: #3c454e,
    royal-purple: #8656a2,
    iguana-green: #66b570,
    queen-blue: #536d96,
    verdigris: #41afaa,
    mulberry: #bf5796,
    pumpkin: #f26e00,
    sunglow: #ffca5c,
    apple-green: #8bbd40,
    studip-blue: #28497c,
    studip-lightblue: #e7ebf1,
    studip-red: #d60000,
    studip-green: #008512,
    studip-yellow: #ffbd33,
    studip-gray: #636a71,
);

$icon-colors:(
    icon-white: #ffffff,
    icon-black: #000000,
    icon-red: #cb1800,
    icon-blue: #24437c,
    icon-green: #00962d,
    icon-gray: #6e6e6e,
    icon-yellow: #ffad00
);
$border-colors:(
    white: #ffffff,
    black: #000000,
    studip-red: #cb1800,
    studip-blue: #24437c,
    studip-green: #00962d,
    studip-gray: #6e6e6e,
    studip-yellow: #ffad00
);

$blockadder-items: (
    before-after: block-comparison,
    canvas: block-canvas,
    gallery: block-gallery,
    image-map: block-imagemap,
    audio: audio,
    chart: vote,
    code: computer,
    confirm: accept,
    date: date,
    dialog-cards: dialog-cards,
    document: file-text,
    download: download,
    embed: code,
    folder: folder-full,
    headline: block-eyecatcher,
    iframe: door-enter,
    lti: plugin,
    key-point: exclaim-circle,
    link: link-extern,
    table-of-contents: table-of-contents,
    text: edit,
    timeline: date-cycle,
    typewriter: block-typewriter,
    video: video2,
    biography-achievements: medal,
    biography-career: ranking,
    biography-personal-information: own-license,
    biography-goals: radar
);

$containeradder-items: (
    accordion: block-accordion,
    list: view-list,
    tabs: block-tabs,
);

$cw-wrapper-gap: 0.5em;

$icons: (
    accept,
    add,
    add-circle,
    admin,
    aladdin,
    arr_1down,
    arr_1left,
    arr_1right,
    arr_1up,
    arr_2down,
    arr_2left,
    arr_2right,
    arr_2up,
    audio,
    audio3,
    billboard,
    block-canvas,
    block-comparison,
    block-eyecatcher,
    block-gallery,
    block-gallery2,
    block-imagemap,
    brainstorm,
    campusnavi,
    chat2,
    code,
    community2,
    computer,
    consultation,
    content,
    courseware,
    crown,
    date-single,
    decline,
    decline-circle,
    doctoral_cap,
    download,
    dropbox,
    edit,
    exclaim,
    exclaim-circle,
    export,
    favorite,
    filter,
    globe,
    graph,
    group2,
    group3,
    group4,
    home2,
    info,
    info-circle,
    install,
    institute,
    key,
    knife,
    learnmodule,
    lightbulb,
    lightbulb2,
    link2,
    link3,
    link-extern,
    link-intern,
    literature,
    lock-locked,
    lock-unlocked,
    mail2,
    medal,
    metro,
    microphone,
    module,
    network,
    notification,
    notification2,
    opencast,
    outer-space,
    permalink,
    person,
    phone,
    picture,
    place,
    plugin,
    question,
    question-circle,
    ranking,
    remove,
    remove-circle,
    resources,
    roles,
    schedule2,
    search,
    settings,
    span-empty,
    span-1quarter,
    span-2quarter,
    span-3quarter,
    span-full,
    spiral,
    sport,
    staple,
    star,
    star-empty,
    star-halffull,
    test,
    tools,
    topic,
    ufo,
    video2,
    visibility-visible,
    wizard
);