.cw-block-audio {
    .cw-audio-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border: solid thin var(--content-color-40);
        padding: 36px;
        gap: 64px;
    }

    .cw-audio-recorder,
    .cw-audio-player {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 36px;
        flex-grow: 100;

        &.with-playlist {
            flex-direction: column;
        }

        .cw-audio-cover {
            margin: 0 auto;
            display: flex;
            flex-direction: row;

            &.with-edit-button {
                position: relative;
                right: -8px;
            }

            .cover {
                width: 256px;
                height: 256px;
                object-fit: cover;
            }

            .default-cover {
                padding: 64px;
                border: solid thin var(--content-color-40);
            }

            &.loading {
                img {
                    visibility: hidden;
                }
            }

            button {
                width: 16px;
                height: 16px;
                cursor: pointer;
                padding: 0 8px;
                background-color: transparent;
                border: none;
            }
        }

        .cw-audio-controls-wrapper {
            flex-grow: 1;
            min-width: 256px;
            text-align: center;
            display: flex;
            flex-direction: column;

            .cw-audio-current-track {
                flex-grow: 1;
                max-width: 270px;
                min-height: 60px;
                margin: 0 auto;

                h2,
                h3 {
                    margin-top: 0;
                }
            }

            .cw-audio-controls {
                .cw-audio-progress {
                    .cw-audio-range {
                        width: 100%;
                        -webkit-appearance: none;
                        appearance: none;
                        cursor: pointer;
                        outline: none;
                        height: 2px;
                        background: var(--content-color-40);

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            height: 16px;
                            width: 16px;
                            background-color: var(--base-color);
                            border-radius: 50%;
                            border: none;
                        }

                        &::-moz-range-thumb {
                            height: 16px;
                            width: 16px;
                            background-color: var(--base-color);
                            border-radius: 50%;
                            border: none;
                        }
                    }

                    .cw-audio-time {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }

                .cw-recorder-visualization {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    gap: 2px;
                    height: 28px;
                    margin-bottom: 1em;
                    padding-bottom: 4px;
                    border-bottom: solid 2px var(--content-color-40);

                    .cw-recorder-visualization-bar {
                        min-height: 4px;
                        width: calc(100% / 32);
                        background-color: var(--base-color);

                        &.idle-bar {
                            height: 4px !important;
                        }
                    }
                }
                .cw-audio-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    button {
                        cursor: pointer;
                        border: none;
                        background: transparent;
                    }
                }
            }
        }
    }

    .cw-audio-playlist-wrapper {
        flex-grow: 1;
        min-width: 270px;
        max-height: 450px;
        overflow-y: auto;

        .cw-audio-playlist {
            padding-left: 0;
            margin-top: -1em;
            list-style: none;
            cursor: pointer;

            li {
                &:not(:last-child) {
                    border-bottom: solid thin var(--dark-gray-color-30);
                }

                .cw-playlist-item {
                    display: block;
                    padding: 1em 0;
                    margin: 0;
                    img {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
.edit-mp3-cover-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;

    .edit-mp3-cover {
        width: 128px;
        height: 128px;
        object-fit: cover;

        &.default-cover {
            padding: 32px;
            border: solid thin var(--content-color-40);
        }
    }

    .remove-cover {
        background-color: transparent;
        border: none;
        height: 16px;
        width: 16px;
        padding: 0 8px;
        cursor: pointer;
    }
}
