@use '../../../mixins.scss' as *;

// folder block
.cw-block-folder-info {
    border: solid thin var(--content-color-40);
    padding: 10px 10px 0 10px;
    overflow: hidden;
    border-bottom: none;
}

.cw-block-folder-list {
    border: solid thin var(--content-color-40);
    padding: 0;
    list-style: none;

    .cw-block-folder-file-item {
        list-style: none;

        &:not(:last-child) {
            border-bottom: solid thin var(--content-color-40);
        }

        a {
            display: block;
        }

        &:hover {
            background-color: hsla(217, 6%, 45%, 0.2);
        }
    }

    .cw-block-folder-download-icon {
        @include background-icon(download, clickable, 24);
        background-repeat: no-repeat;
        float: right;
        height: 24px;
        width: 24px;
        margin: 1em;
    }
}

.cw-block-folder-upload {
    border: solid thin var(--content-color-40);
    padding: 1em 10px;
    border-top: none;

    .cw-file-input {
        width: calc(100% - 148px);
        vertical-align: middle;
    }
}

// for folder and download block
.cw-block-file-info {
    @include background-icon(file, clickable, 24);
    background-repeat: no-repeat;
    display: block;
    padding: 16px 16px 16px 40px;
    background-position: 10px 16px;
    width: calc(100% - 56px);
    overflow: hidden;
    text-overflow: ellipsis;

    &.cw-block-file-icon-empty {
        color: var(--black);
        @include background-icon(folder-empty, info, 24);
    }

    &.cw-block-file-icon-none {
        color: var(--black);
        @include background-icon(file, info, 24);
    }

    &.cw-block-file-icon-audio {
        @include background-icon(file-audio, clickable, 24);

        &.download-disabled {
            @include background-icon(file-audio, info, 24);
        }
    }

    &.cw-block-file-icon-pic {
        @include background-icon(file-pic, clickable, 24);

        &.download-disabled {
            @include background-icon(file-pic, info, 24);
        }
    }

    &.cw-block-file-icon-video {
        @include background-icon(file-video, clickable, 24);

        &.download-disabled {
            @include background-icon(file-video, info, 24);
        }
    }

    &.cw-block-file-icon-pdf {
        @include background-icon(file-pdf, clickable, 24);

        &.download-disabled {
            @include background-icon(file-pdf, info, 24);
        }
    }

    &.cw-block-file-icon-word {
        @include background-icon(file-word, clickable, 24);

        &.download-disabled {
            @include background-icon(file-word, info, 24);
        }
    }

    &.cw-block-file-icon-spreadsheet {
        @include background-icon(file-excel, clickable, 24);

        &.download-disabled {
            @include background-icon(file-excel, info, 24);
        }
    }

    &.cw-block-file-icon-text {
        @include background-icon(file-text, clickable, 24);

        &.download-disabled {
            @include background-icon(file-text, info, 24);
        }
    }

    &.cw-block-file-icon-ppt {
        @include background-icon(file-ppt, clickable, 24);

        &.download-disabled {
            @include background-icon(file-ppt, info, 24);
        }
    }

    &.cw-block-file-icon-archive {
        @include background-icon(file-archive, clickable, 24);

        &.download-disabled {
            @include background-icon(file-archive, info, 24);
        }
    }

    &.cw-block-file-icon-file {
        @include background-icon(file, clickable, 24);

        &.download-disabled {
            @include background-icon(file, info, 24);
        }
    }
}
.cw-block-file-details {
    margin-top: -16px;
    padding-left: 40px;
    padding-bottom: 16px;
    color: var(--dark-gray-color);
}
.cw-block-file-owner,
.cw-block-file-mkdate {
    display: block;
    width: calc(100% - 56px);
    overflow: hidden;
    text-overflow: ellipsis;
}

// download block
.cw-block-download {
    .cw-block-download-content {
        border: solid thin var(--content-color-40);

        .cw-block-download-file-item {
            a {
                display: block;
            }

            &:hover {
                background-color: fade-out($dark-gray-color-75, 0.8);
            }

            .cw-block-download-download-icon {
                @include background-icon(download, clickable, 24);
                background-repeat: no-repeat;
                float: right;
                height: 24px;
                width: 24px;
                margin: 1em;
            }
        }
    }
}
