.cw-block-text {
    .cktoolbar {
        width: 100% !important;
        max-width: 100% !important;
        position: relative !important;
        top: 0 !important;
    }

    .cke {
        width: 100% !important;
    }

    .ckplaceholder {
        height: 0 !important;
    }
}
