/*******************************************************************************
  Standard-Stylesheet für Stud.IP im Safire-Design
  - use http://www.colorzilla.com/gradient-editor/ for gradients
*******************************************************************************/
@import "mixins";

@import "scss/variables";
@import "scss/breakpoints";
@import "scss/visibility";

@import "scss/actionmenu";
@import "scss/admin";
@import "scss/admin-courses";
@import "scss/admission";
@import "scss/article";
@import "scss/ajax";
@import "scss/avatar";
@import "scss/badges";
@import "scss/blubber";
@import "scss/buttons";
@import "scss/contentbar";
@import "scss/contents";
@import "scss/comments";
@import "scss/courseware";
@import "scss/css_tree";
@import "scss/dates";
@import "scss/dashboard";
@import "scss/enrolment";
@import "scss/files";
@import "scss/feedback";
@import "scss/forum";
@import "scss/grid";
@import "scss/i18n";
@import "scss/index";
@import "scss/fullscreen";
@import "scss/links";
@import "scss/lists";
@import "scss/messages";
@import "scss/my_courses";
@import "scss/mvv";
@import "scss/oer";
@import "scss/overlapping";
@import "scss/qrcode";
@import "scss/questionnaire";
@import "scss/quicksearch";
@import "scss/oauth2";
@import "scss/pagination";
@import "scss/plus";
@import "scss/progress_indicator.scss";
@import "scss/profile";
@import "scss/raumzeit";
@import "scss/report";
@import "scss/resources";
@import "scss/sidebar";
@import "scss/select";
@import "scss/search";
@import "scss/skiplinks";
@import "scss/start";
@import "scss/scroll-to-top";
@import "scss/studygroup";
@import "scss/table_of_contents";
@import "scss/tooltip";
@import "scss/tfa";
@import "scss/tour";
@import "scss/wiki";


// Class for DOM elements that should only be visible to Screen readers
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// Hide unrendered vue templates that have [v-cloak] set until they are rendered.
// @see https://vuejs.org/api/built-in-directives.html#v-cloak
[v-cloak] {
    display: none;
}
