.drag-and-drop { display: none; }
.js .drag-and-drop {
    display: block;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
    padding-left: 0px;
    position: relative;
    text-align: center;
    background-color: var(--content-color-20);
    @include background-icon(upload, clickable, 50);
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-top: 70px;
    color: var(--base-color);
    cursor: pointer;

    input[type=file] {
        border: 0;
        font-size: 5em;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &.hovered {
        background-color: var(--base-color);
        @include background-icon(upload, info_alt, 50);
        color: var(--white);
    }
}
.js .widget-links .drag-and-drop {
    margin-left: -15px;
}

fieldset.attribute_table {
    border-collapse: collapse;

    ul {
        margin: 0;
    }
    .sem_class_name .sem_class_edit {
        display: none;
    }
    .sem_class_name:hover .sem_class_edit {
        display: inline;
    }
    ul#sem_type_list > li {
        height: 20px;
    }
    ul#sem_type_list > li .sem_type_delete, ul#sem_type_list > li .sem_type_edit {
        display: none;
    }
    ul#sem_type_list > li:hover .sem_type_delete, ul#sem_type_list > li:hover .sem_type_edit {
        display: inline;
    }
    div[container] {
        display: inline-block;
        width: 150px;
        max-width: 150px;
        overflow: hidden;
        border: thin solid var(--dark-gray-color-30);
        vertical-align: top;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    div[container] > h2 {
        display: block;
        width: 100%;
        background-color: var(--dark-gray-color-20);
        font-size: 12px;
        text-align: center;
        margin: 0;
    }
    div[container] > div.droparea {
        min-height: 30px;
        padding: 1px;
    }
    div[container] > div.droparea > div.plugin {
        cursor: move;
        border: thin solid var(--dark-gray-color-30);
        border-radius: 5px;
        background-color: var(--dark-gray-color-20);
        margin: 5px 7px;
        display: inline-block;
        min-width: 132px;
        max-width: 132px;
    }
    div[container] > div.droparea > div > h2 {
        display: block;
        width: 100%;
        background-color: var(--dark-gray-color-30);
        font-size: 12px;
        text-align: center;
        margin: 0;
    }
    div[container] > div.droparea > div.deactivated {
        opacity: 0.5;
    }
    div[container]#plugins {
        width: 99%;
        max-width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        height: 1px;
        color: var(--dark-gray-color-45);
        background-color: var(--dark-gray-color-45);
        border: none;
    }
    div[container]#deactivated_modules {
        width: 99%;
        max-width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
    div[container]#deactivated_modules .plugin > div {
        display: none;
    }
}

.course-admin {
    .course-completion {
        @include hide-text();
        @include square(16px);
        background-repeat: no-repeat;
        display: block;
    }

    th .course-completion {
        @include background-icon(radiobutton-checked, clickable);
    }

    td .course-completion {
        @include background-icon(span-empty, status-red);

        &[data-course-completion="1"] {
            @include background-icon(span-2quarter, status-yellow);
        }
        &[data-course-completion="2"] {
            @include background-icon(span-full, status-green);
        }

        &.ajaxing {
            background-image: url("#{$image-path}/loading-indicator.svg");
        }
    }
    > tbody.loading > tr > td {
        opacity: 0.5;
    }
}
