$article-padding: 10px;

article.studip {
    border: 1px solid var(--content-color-40);

    margin-bottom: $article-padding;
    padding: $article-padding;
    transition: all var(--transition-duration) ease 0s;

    &:last-child {
        margin-bottom: 0;
    }

    > header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

        padding: 2px;
        background-color: var(--content-color-20);
        margin: -$article-padding;
        margin-bottom: $article-padding;

        > * {
            /* Try to get header aligned by forcing children into centering */
            display: flex;
            align-items: center;

            &:first-child {
                flex: 1;
            }
        }

        h1 {
            padding: 5px;
            margin: 0;
            color: var(--base-color);
            border-bottom: none;
            font-size: medium;

            > a {
                display: flex;
                align-items: flex-start;
            }

            &,
            > a {
                > img,
                > svg {
                    margin-right: 5px;
                    margin-top: 2px;
                }
            }
        }

        > nav {
            display: flex;
            align-items: center;
            padding: 2px;

            > * {
                border-right: 1px solid var(--content-color);
                padding-right: 4px;
                margin-right: 4px;

                &:last-child {
                    border-right: none;
                    padding-right: 0;
                    margin-right: 0;
                }

                &.nowrap {
                    white-space: nowrap;
                }
            }

        }
    }

    &.empty {
        > header {
            margin-bottom: 0;
        }
        padding-bottom: 0;
    }

    &.toggle {
        > header {
            h1 > a {
                @include icon(before, arr_1right, clickable);
                &::before {
                    flex: 0 0 auto;
                    margin-right: 5px;
                    transition: all var(--transition-duration) ease 0s;
                }
                width: 100%;
            }
            margin-bottom: -$article-padding;

            > *:first-child {
                cursor: pointer;
            }
        }
        &:not(.open) > *:not(header) {
            display: none;
        }

        &.open {
            > header {
                h1 > a {
                    &::before {
                        transform: rotate(90deg);
                    }
                }
                margin-bottom: $article-padding;
            }
        }
    }

    > footer {
        text-align: center;
        border-top: 1px solid var(--content-color-40);
        margin: -$article-padding;
        margin-top: $article-padding;

        &:empty {
            display: none !important;
            border: 0 !important;
        }
    }

    &.padding-less {
        padding: 0;

        header {
            margin: 0;
        }

        > footer {
            margin: 0;
        }
    }
}

article.new {
    &.toggle {
        > header {
            h1 > a {
                @include icon(before, arr_1right, new);
                &::before {
                    margin-right: 5px;
                }
            }
        }
    }
}
