blockquote {
    background-color: var(--dark-gray-color-5);
    border-left: 3px solid var(--base-color);
    padding: 4px 10px;
    margin: 0 0 8px;
    color: black;
    > .author {
        margin-bottom: 4px;
        color: black;
        font-weight: 600;
    }
    blockquote {
        background-color: white;
        blockquote {
            background-color: var(--dark-gray-color-5);
            blockquote {
                background-color: white;
            }
        }
    }
}
