.fc-body {
    .fc-event {

        background-color: #fff;
        color: #000;
        border-width: 2px;

        &:hover {
            color: #000;
        }

        &.course-color-0 {
            border-color: $group-color-0;
            background-color: lighten($group-color-0, 45%);

            &:hover {
                background-color: lighten($group-color-0, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-0;
            }
        }

        &.course-color-1 {
            border-color: $group-color-1;
            background-color: lighten($group-color-1, 45%);

            &:hover {
                background-color: lighten($group-color-1, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-1;
            }
        }

        &.course-color-2 {
            border-color: $group-color-2;
            background-color: lighten($group-color-2, 45%);

            &:hover {
                background-color: lighten($group-color-2, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-2;
            }
        }

        &.course-color-3 {
            border-color: $group-color-3;
            background-color: lighten($group-color-3, 45%);

            &:hover {
                background-color: lighten($group-color-3, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-3;
            }
        }

        &.course-color-4 {
            border-color: $group-color-4;
            background-color: lighten($group-color-4, 45%);

            &:hover {
                background-color: lighten($group-color-4, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-4;
            }
        }

        &.course-color-5 {
            border-color: $group-color-5;
            background-color: lighten($group-color-5, 45%);

            &:hover {
                background-color: lighten($group-color-5, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-5;
            }
        }

        &.course-color-6 {
            border-color: $group-color-6;
            background-color: lighten($group-color-6, 45%);

            &:hover {
                background-color: lighten($group-color-6, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-6;
            }
        }

        &.course-color-7 {
            border-color: $group-color-7;
            background-color: lighten($group-color-7, 45%);

            &:hover {
                background-color: lighten($group-color-7, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-7;
            }
        }

        &.course-color-8 {
            border-color: $group-color-8;
            background-color: lighten($group-color-8, 45%);

            &:hover {
                background-color: lighten($group-color-8, 50%);
            }

            .fc-time {
                border-bottom: 1px solid $group-color-8;
            }
        }
    }
}


/* special rule for the month view: do not underline the time */
.fc-view.fc-dayGridMonth-view .fc-event .fc-time {
    border: none;
}
