.consultation-note {
    border-bottom: 1px solid $light-gray-color-40;
    font-size: $font-size-small;
    margin-bottom: 2px;
    padding-bottom: 2px;

    &-below {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        border-top: 1px solid $light-gray-color-40;
        margin-top: 2px;
        padding-top: 2px;
    }

    &.shortened {
        @include icon(before, info-circle, info, 12px, 5px);
        transition: opacity 300ms;
        &:not(:hover)::after {
            opacity: 0.5;
        }
    }
}
.consultation-free {
    color: var(--green);
}
.consultation-occupied {
    color: var(--red);
}
.consultation-slot-not-bookable {
    color: var(--light-gray-color);
}

.consultation-overview {
    .block-is-expired th {
        font-style: italic;
    }
    .slot-is-expired td {
        background-color: $dark-gray-color-10;
    }
}
