.content_title {
    background-color: var(--content-color-20);
    background-image: linear-gradient(var(--content-color-40), var(--content-color-20) 40%, var(--content-color-20));
    background-repeat: no-repeat;
    border-top: 1px solid var(--content-color);
    line-height: 17pt;
    height: 25px;
}

.content_body {
    background-color: var(--dark-gray-color-5);
}

.content_body_panel {
    background-color: var(--dark-gray-color-15);
    border-left: 1px solid var(--dark-gray-color-30);
}

.content_seperator,
.content_seperator td  {
    background-color: var(--dark-gray-color-45);
    background-image: linear-gradient(var(--dark-gray-color-15), var(--dark-gray-color-40) 15%, var(--dark-gray-color-45));
    background-repeat: no-repeat;
    border-top: 1px solid var(--dark-gray-color-30);
    height: 15px;
}

.formatted-content {
    display: flow-root;

    a {
        word-break: break-all;

        &.link-extern,
        &.link-intern {
            display: inline-block;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
        }
    }

    img {
        height: auto;
        max-width: 100%;
    }

    pre {   // pre-formatted content breaks the Stud.IP Layout!
        white-space: pre-wrap;
    }
}

// Emphasize tt tags a little bit so ##monospace## blocks will stick out.
.formatted-content tt {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0 0.5ex;
}

// Margin for lists in user content
.formatted-content ul,
.formatted-content ol  {
    margin: 0.5em 0;
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
  }
}
