// Turns a vertical list into a horizontal one spaced with separators
.contact-legend {
    color: var(--base-gray);
    text-align: center;

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul { display: inline; }
    li {
        border-left: 1px solid var(--base-gray);
        display: inline-block;
        padding: 0 0.5em;

        &:first-child { border-left: 0; }

        img { vertical-align: text-top; }
    }
}

// Prefixed table is neccessary to override some other previously defined rules
table.contact-header {
    margin: auto;

    img { vertical-align: text-top; }
    td {
        background-color: var(--content-color-10);
        padding: 3px 0.5em;
        text-align: center;
        vertical-align: middle;

        &:hover { background-color: var(--base-color-20); }

        // Active state
        &.active {
            background-color: var(--dark-gray-color-15);
            border: 1px solid var(--dark-gray-color-60);

            &:hover { background-color: var(--content-color-60); }

            a {
                color: var(--red);
                font-weight: bold;
            }
        }
        &.empty a { color: var(--dark-gray-color-60); }
    }
}
