.copyable-link-confirmation {
    position: fixed;
    bottom: 60px;
    right: 12px;
    height: 60px;
    line-height: 60px;
    max-width: calc(100% - 140px);
    z-index: 42000;
    border: solid thin $content-color-40;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: 1em center;
    background-size: 100px;
    box-shadow: 5px 5px #ececed;
    padding: 5px 100px;
    transition: transform .5s ease;

    &.copyable-link-success {
        @include background-icon(check-circle, status-green, 24);
    }
    &.copyable-link-error {
        @include background-icon(decline-circle, status-red, 24);
    }
}
