table.dates {
    width: calc(100% - 4px);
    .themen_list > * {
        background-color: transparent;
    }
    tr.ausfall {
        transition: opacity var(--transition-duration);
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
    .nextdate {
        background-color: var(--content-color-40);
    }

    .topic-droppable {
        &.active {
            background-color: var(--activity-color-40);
        }
        &.hovered {
            background-color: var(--activity-color-80);
        }
    }
    .drag-handle {
        background-size: unset;
    }
    .ui-draggable-dragging {
        img.icon-shape-trash {
            display: none;
        }
    }
}

.themen-list {
    > .list-placeholder:not(:only-child) {
        display: none;
    }
}
