/* classes for the evaluation modules in Stud.IP ---------------------------- */
.eval_title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--base-color);
}

.eval_error {
    color: var(--red);
}

.eval_success {
    color: var(--green);
}

.eval_info {
    color: var(--base-gray);
}

.eval_metainfo {
    font-size: 0.8em;
}

.eval_highlight {
    background-color: var(--content-color-60);
}

.eval_gray {
    background: var(--dark-gray-color-20) none;
}
.evaluation_item {
    box-sizing: border-box;
    margin: 3px;
}

h3.eval {
    font-size: 1.3em;
    color: var(--black);
    font-weight: bold;
}
