h1.topic, h2.topic, h3.topic {
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding: 0.1em;
}

h1.topic {
    font-size: 1.6em;
}

h2.topic, h3.topic {
    font-size: 1.2em;
}
