div.i18n_group {
    $max-width: 28px;
    position: relative;

    > select.i18n {
        border: 1px solid var(--light-gray-color-40);
        border-radius: 0;
        box-sizing: border-box;
        margin: 0 !important;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 32px;
        overflow: hidden;
        max-width: $max-width;

        appearance: none;

        background-position: left 4px center;
        background-repeat: no-repeat;
        background-size: 20px auto;
        padding: 0 2px 0 28px !important;

        > option {
            background-position: left 1px center;
            background-repeat: no-repeat;
            padding-left: 28px;
        }
    }

    > div.i18n {
        input[type=text], > textarea, .editor_toolbar .buttons, .ck-toolbar {
            padding-left: ($max-width + 6px) !important;
        }

        > div.editor_toolbar {
            > div.buttons {
                height: 31px;
            }
            > textarea {
                margin-top: 0;
            }
        }
    }
}
