/* --- Links ---------------------------------------------------------------- */
a, a:link, a:visited {
    color: var(--base-color);
    text-decoration: none;

    &.index     { color: var(--base-gray); }
    &.printhead { color: var(--base-color); }
    &.tree      { color: var(--black); }
    &.toolbar {
        color: var(--brand-color-lighter);
        font-size: 9px;
    }
}
a[href] {
    transition: color var(--transition-duration);
}
a[disabled] {
    pointer-events: none;
}

a:hover, a:active, a:hover.index, a:active.index, a:hover.tree {
    color: var(--active-color);
    text-decoration: none;
}

a:hover.toolbar {
    color: var(--dark-gray-color-10);
}

a.link-intern {
    @include icon(before, link-intern, clickable, 16px, 2px);
}
a.link-extern {
    @include icon(before, link-extern, clickable, 16px, 2px);
}
a.link-add {
    @include icon(before, add, clickable, 16px, 2px);
}
a.link-edit {
    @include icon(before, edit, clickable, 16px, 2px);
}

a img {
    border: 0;
}
