.missing_course {
    .content {
        font-weight: bold;
    }
    border: 2px solid var(--red);
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
    background: var(--white);
}

.mycourses-group-selector {
    position: relative;

    background-clip: padding-box;
    border: 1px solid fade-out($brand-color-lighter, 0.8);

    input[type="radio"] {
        @extend .sr-only;

        &:checked + label {
            @include background-icon(accept, info);
        }
    }

    &:hover label {
        @include background-icon(accept, info);
    }

    label {
        @include hide-text();

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-position: center;
        background-repeat: no-repeat;

        cursor: pointer;
    }
}
