.oer_material_overview {
    list-style-type: none;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;

    padding-left: 0px;
    margin-top: 20px;
}

.lernmarktplatz.structure {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 5px;
    li {
        padding: 5px;
        border-top: thin solid var(--table-header-color);
        padding-right: 0px;
    }
    li.folder {
        padding-bottom: 0px;
    }
    ol {
        margin-top: 6px;
        padding-left: 40px;
        list-style-type: none;
    }
    > li:last-child {
        border-bottom: thin solid var(--table-header-color);
    }
}


.author_information {
    > li {
        display: flex;
    }
    .avatar {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100px;
        min-width: 100px;
        height: 100px;
        margin-right: 10px;
    }
    .author_name {
        font-weight: bold;
        display: inline;
    }
    .author_host {
        font-size: 0.8em;
        display: inline;
        color: var(--dark-gray-color-80);
    }
    .description {
        margin-top: 5px;
    }
}

ul.reviews, ol.reviews {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    > li.review {
        margin-bottom: 10px;
        border: thin solid var(--base-color-60);
        padding: 10px;
        display: flex;
        > .avatar {
            width: 50px;
            height: 50px;
        }
        > .content {
            margin-left: 10px;
            width: 100%;
            .review_text {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .origin {
                color: var(--dark-gray-color-80);
                font-size: 0.8em;
            }
            .timestamp {
                float: right;
                color: var(--dark-gray-color-80);
                font-size: 0.8em;
            }
        }
    }
}

.oer_mymaterial {
    .inlineform {
        display: inline;
    }
}

.maininfo {
    border: thin solid var(--brand-color-light);
    padding: 10px;
}

.lernmarktplatz_player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: calc((100vw - 270px) * 2 / 3);
    max-height: 666px;
    border: 1px solid var(--content-color-40);
    background: black;
    &.image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border: none;
        background-color: transparent;
    }
}

#audioplayer {
    width: 100%;
    max-width: 1000px;
}

.oercampus_editmaterial {
    .drag-and-drop {
        width: 260px;
        margin-left: 0px;
        height: 60px;
        background-position: center 40px;
        padding-top: 100px;
    }

    .autoren {
        &.multiple label {
            cursor: pointer;
        }
        input[type=checkbox] {
            display: none;
        }
        input[type=checkbox]:checked + div {
            text-decoration: line-through;
        }
        .avatar {
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 20px;
            min-width: 20px;
            height: 20px;
            margin-right: 5px;
            position: relative;
            top: 5px;
        }
    }
    .oer_tags_container {
        margin-top: 10px;
    }

    .level_labels {
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
        color: var(--black);
        margin-top: 20px;
    }

}

.oercampus_editmaterial, .oer_material_overview {
    article.contentbox {
        display: inline-block;
        margin: 0 15px 15px 0;

        width: 270px;
        max-width: 270px;
        box-sizing: border-box;
        border: solid 1px var(--base-color-60);
        transition: all 300ms ease 0s;
        position: relative;

        header {
            display: flex;
            align-items: center;
            padding-left: 5px;

            width: 100%;
            background-color: var(--content-color-20);
            color: var(--brand-color-dark);
            font-size: 12pt;
            font-weight: bold;
            text-align: left;
            line-height: 2em;
            height: 40px;
            max-height: 40px;
            overflow: hidden;
        }

        h1 {
            padding: 5px;
            margin: 0px;
            color: var(--base-color);
            border-bottom: medium none;
            font-size: medium;
            display: flex;
            align-items: center;
            img {
                margin-right: 10px;
            }
            .title {
                max-height: 34px;
                max-width: 85%;
                overflow: hidden;
                text-overflow: ellipsis;
                hyphens: auto;
            }
        }

        overflow: hidden;

        .image {
            display: block;
            margin: 0;
            height: 180px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: white;
        }
    }
}

.oer_add_to_course {
    margin-bottom: 20px;
}

.oer_search {
    .searchform {
        max-width: 840px;
        box-sizing: border-box;
    }

    .oneliner {
        display: flex;

        .frame {
            border: thin solid var(--content-color-40);
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;
            height: 35px;

            .activefilter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: solid thin black;
                background-color: var(--content-color-20);
                margin: 3px;
                padding: 5px;
            }
            .niveau {
                min-width: 115px;
            }

            .erasefilter {
                margin-left: 5px;
            }

            button {
                border-right: none;
                border-bottom: none;
                border-top: none;
                height: 35px;
                &.active {
                    background-color: var(--base-color);
                }
                &.erase {
                    background-color: white;
                    border-left: none;
                }
            }

            input {
                padding-left: 10px;
                border: none;
                width: 100%;
            }
        }

        button {
            border: thin solid var(--content-color-40);
            background-color: var(--content-color-20);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
        }

        > button {
            margin-left: 10px;
        }
    }

    .filterpanel {
        position: absolute;
        z-index: 1;
        background-color: white;
        padding: 10px;
        width: 819px;
        max-width: calc(100% - 50px);
        animation: oer-filter-panel-appears 200ms ease-out;
        border: thin solid var(--content-color-40);
        margin: 46px 0 0;
        height: 183px;
        display: flex;
        justify-content: space-around;
        align-items: top;
        font-size: 1.2em;

        > * {
            width: 50%;
        }

        @include arrow-top-border(9px, white, 1px, $content-color-40, 46px);

        &::before, &::after {
            right: 50px;
        }
        h3 {
            margin-top: 10px;
            font-weight: normal;
        }

        .level_filter {
            width: 300px;
            .level_labels {
                display: flex;
                justify-content: space-between;
                font-size: 0.8em;
                color: var(--black);
                margin-top: 20px;
            }
            .level_numbers {
                display: flex;
                justify-content: space-between;
            }
            #difficulty_slider {
                margin-top: 5px;
                width: 93%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .filterpanel_shadow {
        position: absolute;
        z-index: 0;
        background-color: var(--dark-gray-color-45);
        padding: 10px;
        width: 819px;
        max-width: calc(100% - 50px);
        animation: oer-filter-panel-appears 200ms ease-out;
        margin: 49px 0 0 3px;
        height: 183px;
    }



    [v-if], [v-for] {
        display: none !important;
    }

    .browser {
        margin-top: 15px;
        padding: 10px;
        background-color: var(--content-color-20);
        width: 840px;
        max-width: 100%;
        box-sizing: border-box;
        height: 200px;
        max-height: 200px;
        overflow: hidden;
        .intro {
            display: flex;
            justify-content: space-around;
            align-items: center;
            > * {
                margin-left: 25px;
                margin-right: 25px;
                max-height: 200px;
            }
            .illustration {
                max-width: 30%;
                max-height: 180px;
            }
        }
        h3 {
            margin-top: 10px;
        }
        .back-button {
            float: left;
            position: relative;
            top: 20px;
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 100%;
            > li {
                margin-right: 30px;
                animation: oer-tag-appears 400ms ease-out;
                text-transform: capitalize;
                a.button {
                    max-width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .oer_no_results {
        max-width: 840px;
        margin-top: 20px;
    }
}

.oer_columns {
    display: flex;
    > aside {
        min-width: 270px;
        max-width: 270px;
    }
    > div {
        padding-left: 20px;
    }

    .level_labels {
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
        color: var(--black);
        margin-top: 20px;
    }
}

@keyframes oer-filter-panel-appears {
    from {
        max-height: 0;
        border-bottom-width: 0;
        overflow: hidden;
    }
    99% {
        max-height: 183px;
        overflow: hidden;
        border-bottom-width: 10px;
    }
    to {
        max-height: 183px;
        overflow: hidden;
        border-bottom-width: 10px;
    }
}


@keyframes oer-tag-appears {
    from {
        opacity: 0;
        transform: scale(0.5);
        filter: blur(4px);
    }
    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}
