#notification_marker {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    color: $base-color;
    text-align: center;
    line-height: 28px;
    background-color: $dark-gray-color-10;
    border: 1px solid $dark-gray-color-40;

    &.alert {
        background-color: $red;
        color: $white;
    }
}

#notification-container {
    $arrow-height: 10px;

    $list-width: 400px;

    width: 49px;
    height: 30px;
    /*border: thin solid $dark-gray-color-20;*/
    color: $base-color;
    vertical-align: text-bottom;
    background-color: $base-color;
    position: relative;

    // Insert invisible padding on top of the arrow in order to try to
    // close the "mouse trap gap" created by the arrow as well as an invisible
    // 25px border to the left
    &:hover::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -$arrow-height;
        left: (-$list-width);
        right: 0;
        height: $arrow-height;
    }
    &:hover::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 25px;
    }

    .list {
        display:none;
    }

    &.hoverable:hover {
        .list { display: block; }
    }

    #notification_checkbox {
        display: none;
    }

    &.hoverable #notification_checkbox:checked + #notification_list {
        display: block;
    }

    #notification_list {
        z-index: 1001;
        margin-top: 10px;
        ul {
            width: 100%;
            padding: 0;
        }
        .more {
            font-size: 0.8em;
            text-align: center;
        }
    }
    .list {

        ul {
            list-style-type: none;
        }

        // Creates an arrow pointing from the list to the triggering element
        @include arrow-top-border(10px, $white, 1px, $light-gray-color-80);

        background-color: $white;
        border-left: thin solid $light-gray-color-60;
        border-top: thin solid $light-gray-color-60;
        border-collapse: collapse;
        color: $black;
        display: none;
        font-size: 1em;
        position: absolute;
        width: $list-width;
        max-width: $list-width;
        box-shadow: 1px 1px 1px $light-gray-color-80;

        // Without this, buttons or message boxes would appear on top of the list
        z-index: 2;
        &::before,
        &::after {
            left: ($list-width - 30px);
        }

        // Positions: below or left'ish or right'ish to the triggering element
        &.below {
            left: (-$list-width + 44px);
        }
        &.left {
            right: 0;
            &:before {
                left: auto;
                right: 4px;
            }
        }
        &.right {
            left: 0;
            &:before { left: 4px; }
        }

        // List item
        .item {
            $padding: 5px;
            border-top: thin solid $light-gray-color-60;
            line-height: 20px;
            height: auto;
            padding: $padding;
            white-space: normal;

            &:hover {
                background-color: $light-gray-color-20
            }

            &:only-child:hover {
                @include arrow-top(10px, $light-gray-color-20);
                margin-top: 0;
                &::before {
                    left: ($list-width - 30px);
                    z-index: 2;
                }
            }

            // First child: no top-border
            &:first-child {
                border-top: 0;
            }

            .main {
                display: flex;
                flex-direction: row;

                .content {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    flex-grow: 1;

                    .avatar {
                        $avatar-size: 40px;
                        margin-right: 10px;
                        margin-left: 0;
                        background-position: center center;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        width: $avatar-size;
                        height: $avatar-size;
                        min-width: $avatar-size;
                    }
                }
            }
        }

        a:not(.mark-all-as-read) {
            color: $brand-color-dark;
            display: block;
            padding: 0;
            &:hover { color: $active-color; }
        }

        .options {
            border: 0;
            background: none;
            cursor: pointer;
            padding-top: 4px;
            height: 24px;
            > img {
                vertical-align: top;
            }

            &.hidden { visibility: hidden; }
        }
        .item:hover .options.hidden { visibility: visible; }
    }

    a.mark-all-as-read:not(.invisible),
    a.enable-desktop-notifications {
        background-color: $dark-gray-color-15;
        border-bottom: thin solid $dark-gray-color-45;
        display: block;
        max-height: 31px;
        padding: 5px 5px 5px 14px;
        z-index: 3;
    }

    a.mark-all-as-read {
        // Creates an arrow pointing from the list to the triggering element
        @include arrow-top-border(10px, $light-gray-color-20, 1px, $light-gray-color-80);
        &::before,
        &::after {
            left: ($list-width - 30px);
            z-index: 2;
        }

        @include background-icon('accept', 'clickable');
        background-repeat: no-repeat;
        background-position: right 8px center;

        &:hover {
            @include background-icon('accept', 'attention');
        }

        margin: 0;

        // Create blind effect to hide/display this links smoothly
        transition: all 300ms;
    }
    a.enable-desktop-notifications {
        @include background-icon('notification', 'clickable');
        background-repeat: no-repeat;
        background-position: right 8px center;

        &:hover {
            @include background-icon('notification', 'attention');
        }
    }
}
