.qr-code-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    h1 {
        display: none;
    }

    .code {
        flex: 0 1 auto;
        max-height: 90%; // TODO This will not scale well if description grows
        width: 100%;
        text-align: center;

        canvas {
            margin: auto;
            max-height: 100%;
            object-fit: contain;
        }
    }

    .url,
    .description {
        flex: 0 0 auto;
        margin-top: 1em;
        text-align: center;
    }

    &:fullscreen {
        background: var(--white);

        h1 {
            display: initial;
            font-size: 3em;
        }

        .code {
            max-height: 80%;
        }
    }

    @media not print {
        & > img {
            display: none;
        }
    }
}
